<!-- <nb-card>
  <nb-card-header>
    Smart Table
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card> -->
<h1>adsçlkfjajsdflçkajsdfçlksdsss</h1>
<h1>adsçlkfjajsdflçkajsdfçlksdsss</h1>
<h1>adsçlkfjajsdflçkajsdfçlksdsss</h1>

/**
 *
 *   LAZY LOAD?
 *
 * 1) estrutura padrão para os componentes é pages ou components ?
 * 2) padrão?
 *
 *    pages
 *      - cadastros
 *          - produtos
 *              - produtos-list
 *              - produtos-form
 *              produtos-routing.module.tst
 *              produtos.module.ts
 *              produtos.component ???
 *        cadastros-routing.module.ts
 *        cadastros.component.ts ??
 *        cadastros.module.ts
 *          - clientes
 *      - movimentos
 *      - financeiro
 *      - relatórios
 *      - utilidades
 */
